* {
    margin: 0; padding: 0;
}
#afanti {
    width: 100%;
    height: 2555px;
}

/* -----content区域----- */
#afanti .content {
    width: 1010px;
    height: 100%;
    text-align: center;
    overflow: hidden;
    margin: auto;
}

/* -----header区域----- */
#afanti .header {
    width: 100%;
    height: 80px;
}

#afanti .header .content {
    background: url(../images/list_03.gif) no-repeat 0 center;
    overflow: hidden;
}

#afanti .nav1 {
    list-style: none;
    float: left;
    font-size: 16px;
    line-height: 36px;
    margin: 24px 0 0 175px;
    font-weight: bold;
    color: #333333;
} 

#afanti .nav1 li {
    float: left;
    padding: 0 25px
}

#afanti .nav1 li:hover {
    border-bottom: solid 2px #ff6b13;
    color: #ff6b13;
}

#afanti .nav2 {
    font-size: 14px;
    line-height: 22px;
    margin: 32px 0 0 50px;
    color: #333333;
    list-style: none;
    float: left;
} 

#afanti .nav2 li {
    float: left;
    padding: 0 10px;
}

/* -----main1区域----- */
#afanti .main1 {
    width: 100%;
    height: 670px;
    background: url(../images/list_06.gif) no-repeat center center;
}

/* -----main2区域----- */
#afanti .main2 {
    width: 100%;
    height: 715px;
}

#afanti .content .headline1 {
    margin: 72px 0 45px;
    font-size: 36px;
    color: #000000;
    font-weight: bold;
}

#afanti .content .headline2 {
    font-size: 26px;
    color: #888a87;
}

#afanti .content .box1 {
    width: 883px;
    height: 100%;
    margin: auto;
    margin-top: 75px;
}

#afanti .content .box1 .b-content {
    width: 221px;
    height: 100%;
    margin: auto;
    float: left;
    margin-right: 110px;
}

#afanti .content .box1 .b-content .b-h1 {
    font-size: 26px;
    line-height: 26px;
    color: #333132;
    margin: 45px 0 30px;
}

#afanti .content .box1 .b-content .b-h2 {
    font-size: 14px;
    line-height: 24px;
    color: #8a8a8c;
}

/* -----main3区域----- */
#afanti .main3 {
    width: 100%;
    height: 862px;
    background: #f2f2f2;
}

#afanti .main3 .content .headline1 span {
    color: fe6a14;
}

#afanti .main3 .content .box2 {
    width: 1020px;
    height: 100%;
    margin: auto;
    margin-top: 105px;
}

#afanti .main3 .content .box2 .b-img {
    width: 320px;
    height: 100%px;
    margin: 0 10px;
    float: left;
}

#afanti .main3 .content .box2 .b-img .h3 {
    font-size: 26px;
    line-height: 26px;
    color: #343436;
    margin: 28px 0 45px;
}

#afanti .main3 .content .box2 .b-img .h4 {
    font-size: 17px;
    line-height: 26px;
    color: #8a8a8a;
    margin: 15px 0 0 235px;
}


#afanti .main3 .content .box2 .b-img ul li {
    font-size: 17px;
    line-height: 48px;
    color: #343432;
    list-style: none;
    background: url(../images/list-01.png) no-repeat left center;
}

/* -----footer区域----- */
#afanti .footer {
    width: 100%;
    height: 228px;
    background: #303030;
}

#afanti .footer .content {
    background: url(../images/list_31.gif) no-repeat left center;
}

#afanti .footer .content .h5 {
    font-size: 14px;
    color: #fdfeff;
    line-height: 14px;
    margin: 75px 0 9px;
    text-align:left;
    margin-left: 285px;
}

#afanti .footer .content .h6 {
    font-size: 12px;
    color: #8a8a88;
    line-height: 40px;
    vertical-align: middle;
    text-align:left;
    margin-left: 285px;
}

#afanti .footer .content .wx {
    width: 134px;
    height: 134px;
    float: right;
    margin:-162px 0;
}