* {
    margin: 0;padding: 0;
}
#qianfeng {
    width: 100%;
    height: 1401px;
}

/* header 区域开始 */
#qianfeng .header {
    width: 100%;
    height: 62px;
    background: #232323;
}
/* header 区域结束 */


/* banner 区域开始 */
#qianfeng .banner {
    width: 100%;
    height: 420px;
    background-image: url(../image/qf-banner.png);
    background-position: center center;
}
/* banner 区域结束 */


/* main1 区域开始 */
#qianfeng .main1 {
    width: 100%;
    height: 350px;
    background: #f5f5f5;
}
/* main1 区域结束 */


/* main2 区域开始 */
#qianfeng .main2 {
    width: 100%;
    height: 310px;
    background: #ffffff;
}
/* main2 区域结束 */


/* main3 区域开始 */
#qianfeng .main3 {
    width: 100%;
    height: 215px;
    background: #222222;
}
/* main3 区域结束 */


/* footer 区域开始 */
#qianfeng .footer {
    width: 100%;
    height: 45px;
    background: #101010;
}
/* footer 区域结束*/