* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 31.25vw;
}

html,
body {
    width: 100%;
    height: 100%;
}

ul,
li {
    list-style: none;
}

#zhifubao {
    width: 100%;

    header {
        height: 1.6rem;
        background: #3f454f;

        .list1 {
            display: flex;
            justify-content: space-around;

            li {
                flex: 1;
                font-size: 0.2rem;
                font-family: "iconfont";
                color: #ffffff;
            }

            li:nth-child(1) {
                flex: 5;
            }
        }

        .list2 {
            display: flex;
            justify-content: space-around;
            margin-top: 0.3rem;

            li {
                flex: 1;
                font-family: "iconfont";
                font-size: 0.35rem;
                text-align: center;
                color: #ffffff;
            }
        }

        .list3 {
            display: flex;
            justify-content: space-around;
            margin-top: 0.14rem;

            li {
                flex: 1;
                font-size: 0.15rem;
                text-align: center;
                color: #ffffff;
            }
        }
    }

    main {
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                // display: flex;
                // flex-direction: column;
                // justify-content: center;
                // align-items: center;
                width: 0.95rem;
                height: 0.9rem;
                border: solid 0.5px #3f454f;

                i {
                    font-style: normal;
                    font-family: "iconfont";
                    font-size: 0.25rem;
                    text-align: center;
                    color: #2eb3e8;
                }

                p {
                    font-size: 0.125rem;
                    text-align: center;
                }
            }
        }
    }
}