* {
    margin: 0;padding: 0;
}

@font-face {
    font-family: 'icon';
    src:url('../iconfont/iconfont.eot');
    src:url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../iconfont/iconfont.svg#icomoon') format('svg'),
    url('../iconfont/iconfont.woff') format('woff'),
    url('../iconfont/iconfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

span {
    font-family: "icon";
}

.zhifubao::after {
    content: "\e600";
}