* {
    margin: 0; padding: 0;
}

#box {
    width: 100%;
    height: 100%;
    column-count: 8;
    column-gap: 30px;
    column-rule: 2px solid red;
    column-width: 100px
}

.box1 {
    font-size: 0;
}

.box1 img {
    width: 100%;
    height: 100%;
}

.box2 {
    background: goldenrod;
    font-size: 0;
}

.box2 img {
    width: 100%;
    height: 100%;
}

h1 {
    column-span: all;
    text-align: center;
    height: 100px;
}