* {
    margin: 0; padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
}

#kaiyuan {
    width: 100%;
}

ul, li {
    list-style: none;
}

.header {
    width: 100%;
    height: 111px;
    background: url(../作业/开源博客页面/01.png) no-repeat center center;
    border-bottom: solid 1px #ebebeb;
}

.nav {
    ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: solid 2px #e1e1e1;
        li {
            text-align: center;
            font-size: 14px;
            height: 56px;
            line-height: 56px;
            padding: 0 20px;
        }
        li:nth-child(1),
        li:nth-child(8) {
            border-bottom: none;
        }
    }
}

.nav li:hover {
    border-bottom: solid 2px #e67e22;
}

.main {
    width: 100%;
    background: #ebebeb;
}

.content {
    width: 1140px;
    height: 100%;
    padding: 35px 0px; 
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.m-left {
    width: 65%;
    background: #ebebeb;
    .left-mod1,
    .left-mod3,
    .left-mod5,
    .left-mod6,
    .left-mod7,
    .left-mod8,
    .left-mod9,
    .left-mod10 {
        width: 100%;
        padding: 45px 35px;
        box-sizing: border-box;
        margin-bottom: 35px;
        background: #ffffff;
        .mod-ctent {
            width: 100%;
            border-bottom: solid 1px #ebebeb;
            h1 {
                font-weight: normal;
                font-size: 34px;
                line-height: 34px;
                color: #303030;
                text-align: center;
            }
            
            .title-1 {
                font-size: 14px;
                color: #959595;
                margin-top: 22px;
                text-align: center;
            }
    
            p span:nth-child(1)::after {
                content: "王赛";
                color: #e67e22;
                font-size: 14px;
            }
    
            .title-2 {
                font-size: 18px;
                line-height: 28px;
                color: #444443;
                margin-top: 36px;
            }
    
            .title-3 {
                width: 86px;
                height: 36px;
                background: #e67e22;
                font-size: 14px;
                line-height: 36px;
                color: #ffffff;
                margin-top: 30px;
                text-align: center;
                margin-bottom: 30px;
            }
        }
        .title-4 {
            width: 11px;
            height: 15px;
            display: inline-block;
            background: url(../作业/开源博客页面/bt-1.png);
            margin-top: 26px;
        }
    }

    .left-mod2,
    .left-mod4 {
        width: 100%;
        padding: 45px 35px;
        box-sizing: border-box;
        margin-bottom: 35px;
        background: #ffffff;
        .mod-ctent {
            width: 100%;
            border-bottom: solid 1px #ebebeb;
            h1 {
                font-weight: normal;
                font-size: 34px;
                line-height: 34px;
                color: #303030;
                text-align: center;
            }
            
            .title-1 {
                font-size: 14px;
                color: #959595;
                margin-top: 22px;
                text-align: center;
            }
    
            p span:nth-child(1)::after {
                content: "王赛";
                color: #e67e22;
                font-size: 14px;
            }
    
            .title-2 {
                margin-top: 36px;
                img {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 36px;
                }
                span {
                    font-size: 18px;
                    line-height: 28px;
                    color: #444443;
                }
            }
    
            .title-3 {
                width: 86px;
                height: 36px;
                background: #e67e22;
                font-size: 14px;
                line-height: 36px;
                color: #ffffff;
                margin-top: 30px;
                text-align: center;
                margin-bottom: 30px;
            }
        }
        .title-4 {
            width: 11px;
            height: 15px;
            display: inline-block;
            background: url(../作业/开源博客页面/bt-1.png);
            margin-top: 26px;
        }
    }
    .fanye {
        text-align: center;
        font-size: 14px;
        color: #ffffff;
        line-height: 36px;
        span:nth-child(1) {
            width: 126px;
            height: 36px;
            background: #e67e22;
            display: inline-block;
            margin-right: 7px;
        }
        span:nth-child(2) {
            width: 36px;
            height: 36px;
            background: #e67e22;
            display: inline-block;
        }
    }
}

.m-right {
    width: 30%;
    background: #ebebeb;
    .right-mod1 {
        width: 100%;
        padding: 12px 30px 30px 30px;
        box-sizing: border-box;
        background: #ffffff;
        margin-bottom: 35px;
        h2 {
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            border-bottom: solid 1px #ebebeb;
        }
        p:nth-child(2) {
            margin-top: 16px;
            font-size: 12px;
            line-height: 30px;
            color: #505050;
        }
        p:nth-child(n+3) {
            font-size: 12px;
            line-height: 30px;
            color: #e67e22;
        }

        p:nth-child(n+3) span:nth-child(1){
            width: 11px;
            height: 15px;
            display: inline-block;
            background: url(../作业/开源博客页面/bt-2.png);
        }
    }

    .right-mod2 {
        width: 100%;
        padding: 22px 30px;
        box-sizing: border-box;
        background: #ffffff;
        margin-bottom: 35px;
        h2 {
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            border-bottom: solid 1px #ebebeb;
        }
        p {
            width: 300px;
            height: 36px;
            font-size: 14px;
            color: #ffffff;
            line-height: 36px;
            text-align: center;
            background: #e67e22;
            margin-top: 20px;
        }
    }

    .right-mod3 {
        width: 100%;
        padding: 22px 30px;
        box-sizing: border-box;
        background: #ffffff;
        margin-bottom: 35px;
        h2 {
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            border-bottom: solid 1px #ebebeb;
        }
        ul {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            list-style: none;
            padding: 12px 0px;
            li {
                font-size: 14px;
                line-height: 26px;
                color: #959595;
                text-align: center;
                padding: 0px 8px;
                margin-top: 8px;
                margin-right: 10px;
                border: solid 1px #ebebeb;
            }
        }

    }
}

.footer {
    width: 100%;
}

.f-top {
    background: #202020;
    .content {
        display: flex;
        justify-content: space-between;
        padding: 37px 0px;
        box-sizing: border-box;
        .top-mod1 {
            width: 27%;
            h3 {
                font-weight: normal;
                width: 90px;
                font-size: 22px;
                line-height: 38px;
                color: #ffffff;
                border-bottom: solid 1px #e67e22;
            }
            ul {
                border-top: solid 1px #303030;
                li {
                    padding: 14px 0px;
                    line-height: 24px;
                    border-bottom: dashed 1px #303030;
                    p:nth-child(1) {
                        font-size: 12px;
                        color: #959595;
                    }
                    p:nth-child(2) {
                        font-size: 12px;
                        color: #505050;
                    }
                }
            }
        }

        .top-mod2 {
            width: 27%;
            h3 {
                font-weight: normal;
                width: 90px;
                font-size: 22px;
                line-height: 38px;
                color: #ffffff;
                border-bottom: solid 1px #e67e22;
            }
            ul {
                border-top: solid 1px #303030;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                list-style: none;
                padding: 12px 0px;
                li {
                    font-size: 14px;
                    line-height: 26px;
                    color: #959595;
                    text-align: center;
                    padding: 0px 8px;
                    margin-top: 8px;
                    margin-right: 10px;
                    border: solid 1px #303030;
                }
            }
        }

        .top-mod3 {
            width: 27%;
            h3 {
                font-weight: normal;
                width: 90px;
                font-size: 22px;
                line-height: 38px;
                color: #ffffff;
                border-bottom: solid 1px #e67e22;
            }
            ul {
                border-top: solid 1px #303030;
                li {
                    padding: 14px 0px;
                    line-height: 24px;
                    font-size: 12px;
                    color: #959595;
                    border-bottom: dashed 1px #303030;
                    span {
                        margin-right: 24px;
                    }
                }
                li:nth-child(4) {
                    border-bottom: none;
                }
            }
        }
    }
}

.f-bottom {
    height: 80px;
    background: #111111;
    .content {
        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            li {
                font-size: 10px;
                color: #555555;
                padding: 0px 10px;
                border-right: solid 1px #555555;
            }
            li:nth-child(3) {
                border-right: none;
            }
        }
    }
}