@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#kaiyuan {
  width: 100%;
}

ul, li {
  list-style: none;
}

.header {
  width: 100%;
  height: 111px;
  background: url(../作业/开源博客页面/01.png) no-repeat center center;
  border-bottom: solid 1px #ebebeb;
}

.nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px #e1e1e1;
}

.nav ul li {
  text-align: center;
  font-size: 14px;
  height: 56px;
  line-height: 56px;
  padding: 0 20px;
}

.nav ul li:nth-child(1),
.nav ul li:nth-child(8) {
  border-bottom: none;
}

.nav li:hover {
  border-bottom: solid 2px #e67e22;
}

.main {
  width: 100%;
  background: #ebebeb;
}

.content {
  width: 1140px;
  height: 100%;
  padding: 35px 0px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.m-left {
  width: 65%;
  background: #ebebeb;
}

.m-left .left-mod1,
.m-left .left-mod3,
.m-left .left-mod5,
.m-left .left-mod6,
.m-left .left-mod7,
.m-left .left-mod8,
.m-left .left-mod9,
.m-left .left-mod10 {
  width: 100%;
  padding: 45px 35px;
  box-sizing: border-box;
  margin-bottom: 35px;
  background: #ffffff;
}

.m-left .left-mod1 .mod-ctent,
.m-left .left-mod3 .mod-ctent,
.m-left .left-mod5 .mod-ctent,
.m-left .left-mod6 .mod-ctent,
.m-left .left-mod7 .mod-ctent,
.m-left .left-mod8 .mod-ctent,
.m-left .left-mod9 .mod-ctent,
.m-left .left-mod10 .mod-ctent {
  width: 100%;
  border-bottom: solid 1px #ebebeb;
}

.m-left .left-mod1 .mod-ctent h1,
.m-left .left-mod3 .mod-ctent h1,
.m-left .left-mod5 .mod-ctent h1,
.m-left .left-mod6 .mod-ctent h1,
.m-left .left-mod7 .mod-ctent h1,
.m-left .left-mod8 .mod-ctent h1,
.m-left .left-mod9 .mod-ctent h1,
.m-left .left-mod10 .mod-ctent h1 {
  font-weight: normal;
  font-size: 34px;
  line-height: 34px;
  color: #303030;
  text-align: center;
}

.m-left .left-mod1 .mod-ctent .title-1,
.m-left .left-mod3 .mod-ctent .title-1,
.m-left .left-mod5 .mod-ctent .title-1,
.m-left .left-mod6 .mod-ctent .title-1,
.m-left .left-mod7 .mod-ctent .title-1,
.m-left .left-mod8 .mod-ctent .title-1,
.m-left .left-mod9 .mod-ctent .title-1,
.m-left .left-mod10 .mod-ctent .title-1 {
  font-size: 14px;
  color: #959595;
  margin-top: 22px;
  text-align: center;
}

.m-left .left-mod1 .mod-ctent p span:nth-child(1)::after,
.m-left .left-mod3 .mod-ctent p span:nth-child(1)::after,
.m-left .left-mod5 .mod-ctent p span:nth-child(1)::after,
.m-left .left-mod6 .mod-ctent p span:nth-child(1)::after,
.m-left .left-mod7 .mod-ctent p span:nth-child(1)::after,
.m-left .left-mod8 .mod-ctent p span:nth-child(1)::after,
.m-left .left-mod9 .mod-ctent p span:nth-child(1)::after,
.m-left .left-mod10 .mod-ctent p span:nth-child(1)::after {
  content: "王赛";
  color: #e67e22;
  font-size: 14px;
}

.m-left .left-mod1 .mod-ctent .title-2,
.m-left .left-mod3 .mod-ctent .title-2,
.m-left .left-mod5 .mod-ctent .title-2,
.m-left .left-mod6 .mod-ctent .title-2,
.m-left .left-mod7 .mod-ctent .title-2,
.m-left .left-mod8 .mod-ctent .title-2,
.m-left .left-mod9 .mod-ctent .title-2,
.m-left .left-mod10 .mod-ctent .title-2 {
  font-size: 18px;
  line-height: 28px;
  color: #444443;
  margin-top: 36px;
}

.m-left .left-mod1 .mod-ctent .title-3,
.m-left .left-mod3 .mod-ctent .title-3,
.m-left .left-mod5 .mod-ctent .title-3,
.m-left .left-mod6 .mod-ctent .title-3,
.m-left .left-mod7 .mod-ctent .title-3,
.m-left .left-mod8 .mod-ctent .title-3,
.m-left .left-mod9 .mod-ctent .title-3,
.m-left .left-mod10 .mod-ctent .title-3 {
  width: 86px;
  height: 36px;
  background: #e67e22;
  font-size: 14px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.m-left .left-mod1 .title-4,
.m-left .left-mod3 .title-4,
.m-left .left-mod5 .title-4,
.m-left .left-mod6 .title-4,
.m-left .left-mod7 .title-4,
.m-left .left-mod8 .title-4,
.m-left .left-mod9 .title-4,
.m-left .left-mod10 .title-4 {
  width: 11px;
  height: 15px;
  display: inline-block;
  background: url(../作业/开源博客页面/bt-1.png);
  margin-top: 26px;
}

.m-left .left-mod2,
.m-left .left-mod4 {
  width: 100%;
  padding: 45px 35px;
  box-sizing: border-box;
  margin-bottom: 35px;
  background: #ffffff;
}

.m-left .left-mod2 .mod-ctent,
.m-left .left-mod4 .mod-ctent {
  width: 100%;
  border-bottom: solid 1px #ebebeb;
}

.m-left .left-mod2 .mod-ctent h1,
.m-left .left-mod4 .mod-ctent h1 {
  font-weight: normal;
  font-size: 34px;
  line-height: 34px;
  color: #303030;
  text-align: center;
}

.m-left .left-mod2 .mod-ctent .title-1,
.m-left .left-mod4 .mod-ctent .title-1 {
  font-size: 14px;
  color: #959595;
  margin-top: 22px;
  text-align: center;
}

.m-left .left-mod2 .mod-ctent p span:nth-child(1)::after,
.m-left .left-mod4 .mod-ctent p span:nth-child(1)::after {
  content: "王赛";
  color: #e67e22;
  font-size: 14px;
}

.m-left .left-mod2 .mod-ctent .title-2,
.m-left .left-mod4 .mod-ctent .title-2 {
  margin-top: 36px;
}

.m-left .left-mod2 .mod-ctent .title-2 img,
.m-left .left-mod4 .mod-ctent .title-2 img {
  width: 100%;
  height: 100%;
  margin-bottom: 36px;
}

.m-left .left-mod2 .mod-ctent .title-2 span,
.m-left .left-mod4 .mod-ctent .title-2 span {
  font-size: 18px;
  line-height: 28px;
  color: #444443;
}

.m-left .left-mod2 .mod-ctent .title-3,
.m-left .left-mod4 .mod-ctent .title-3 {
  width: 86px;
  height: 36px;
  background: #e67e22;
  font-size: 14px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.m-left .left-mod2 .title-4,
.m-left .left-mod4 .title-4 {
  width: 11px;
  height: 15px;
  display: inline-block;
  background: url(../作业/开源博客页面/bt-1.png);
  margin-top: 26px;
}

.m-left .fanye {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  line-height: 36px;
}

.m-left .fanye span:nth-child(1) {
  width: 126px;
  height: 36px;
  background: #e67e22;
  display: inline-block;
  margin-right: 7px;
}

.m-left .fanye span:nth-child(2) {
  width: 36px;
  height: 36px;
  background: #e67e22;
  display: inline-block;
}

.m-right {
  width: 30%;
  background: #ebebeb;
}

.m-right .right-mod1 {
  width: 100%;
  padding: 12px 30px 30px 30px;
  box-sizing: border-box;
  background: #ffffff;
  margin-bottom: 35px;
}

.m-right .right-mod1 h2 {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-bottom: solid 1px #ebebeb;
}

.m-right .right-mod1 p:nth-child(2) {
  margin-top: 16px;
  font-size: 12px;
  line-height: 30px;
  color: #505050;
}

.m-right .right-mod1 p:nth-child(n+3) {
  font-size: 12px;
  line-height: 30px;
  color: #e67e22;
}

.m-right .right-mod1 p:nth-child(n+3) span:nth-child(1) {
  width: 11px;
  height: 15px;
  display: inline-block;
  background: url(../作业/开源博客页面/bt-2.png);
}

.m-right .right-mod2 {
  width: 100%;
  padding: 22px 30px;
  box-sizing: border-box;
  background: #ffffff;
  margin-bottom: 35px;
}

.m-right .right-mod2 h2 {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-bottom: solid 1px #ebebeb;
}

.m-right .right-mod2 p {
  width: 300px;
  height: 36px;
  font-size: 14px;
  color: #ffffff;
  line-height: 36px;
  text-align: center;
  background: #e67e22;
  margin-top: 20px;
}

.m-right .right-mod3 {
  width: 100%;
  padding: 22px 30px;
  box-sizing: border-box;
  background: #ffffff;
  margin-bottom: 35px;
}

.m-right .right-mod3 h2 {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-bottom: solid 1px #ebebeb;
}

.m-right .right-mod3 ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 12px 0px;
}

.m-right .right-mod3 ul li {
  font-size: 14px;
  line-height: 26px;
  color: #959595;
  text-align: center;
  padding: 0px 8px;
  margin-top: 8px;
  margin-right: 10px;
  border: solid 1px #ebebeb;
}

.footer {
  width: 100%;
}

.f-top {
  background: #202020;
}

.f-top .content {
  display: flex;
  justify-content: space-between;
  padding: 37px 0px;
  box-sizing: border-box;
}

.f-top .content .top-mod1 {
  width: 27%;
}

.f-top .content .top-mod1 h3 {
  font-weight: normal;
  width: 90px;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  border-bottom: solid 1px #e67e22;
}

.f-top .content .top-mod1 ul {
  border-top: solid 1px #303030;
}

.f-top .content .top-mod1 ul li {
  padding: 14px 0px;
  line-height: 24px;
  border-bottom: dashed 1px #303030;
}

.f-top .content .top-mod1 ul li p:nth-child(1) {
  font-size: 12px;
  color: #959595;
}

.f-top .content .top-mod1 ul li p:nth-child(2) {
  font-size: 12px;
  color: #505050;
}

.f-top .content .top-mod2 {
  width: 27%;
}

.f-top .content .top-mod2 h3 {
  font-weight: normal;
  width: 90px;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  border-bottom: solid 1px #e67e22;
}

.f-top .content .top-mod2 ul {
  border-top: solid 1px #303030;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 12px 0px;
}

.f-top .content .top-mod2 ul li {
  font-size: 14px;
  line-height: 26px;
  color: #959595;
  text-align: center;
  padding: 0px 8px;
  margin-top: 8px;
  margin-right: 10px;
  border: solid 1px #303030;
}

.f-top .content .top-mod3 {
  width: 27%;
}

.f-top .content .top-mod3 h3 {
  font-weight: normal;
  width: 90px;
  font-size: 22px;
  line-height: 38px;
  color: #ffffff;
  border-bottom: solid 1px #e67e22;
}

.f-top .content .top-mod3 ul {
  border-top: solid 1px #303030;
}

.f-top .content .top-mod3 ul li {
  padding: 14px 0px;
  line-height: 24px;
  font-size: 12px;
  color: #959595;
  border-bottom: dashed 1px #303030;
}

.f-top .content .top-mod3 ul li span {
  margin-right: 24px;
}

.f-top .content .top-mod3 ul li:nth-child(4) {
  border-bottom: none;
}

.f-bottom {
  height: 80px;
  background: #111111;
}

.f-bottom .content ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.f-bottom .content ul li {
  font-size: 10px;
  color: #555555;
  padding: 0px 10px;
  border-right: solid 1px #555555;
}

.f-bottom .content ul li:nth-child(3) {
  border-right: none;
}
