
*{
    margin: 0; padding: 0;
}
#header{
    width: 1193.5px;
    height: 66px;
    margin: auto;
    border: solid 1px #dadada;
}
#header .box1{
    width: 158px;
    height: 44px;
    padding: 7px 0;
}
#header .box2{
    width: 158px;
    height: 29px;
    padding: 14.5px 0;
}
#header .box3{
    width: 158px;
    height: 47px;
    padding: 5.5px 0;
}
#header .box4{
    width: 158px;
    height: 40px;
    padding: 9px 0;
}
#header .box5{
    width: 158px;
    height: 44px;
    padding: 7px 0;
}
#header .box6{
    width: 158px;
    height: 48px;
    padding: 5px 0;
}
#header .box7{
    width: 158px;
    height: 44px;
    padding: 7px 0;
}

#header div{
    border: solid 1px #dadada;
    float: left;
    text-align: center;
    margin: 3px 6.5px 3px 4px;
}
#nav{
    width: 1153px;
    height: 396px;
    margin: auto;
}
#nav .nav-box1{
    width:520px;
    height: 396px;
    float: left;
}
#nav .nav-box2{
    width:520px;
    height: 396px;
    float: right;
}
.nav-box1 li{
    margin: 7.5px 0 0 20px;
}
.nav-box1 span{
    float: right;
    font-size: 12px;
    color: #dadada;
}
.nav-box2 li{
    margin: 7.5px 0 0 20px;
}
.nav-box2 span{
    float: right;
    font-size: 12px;
    color: #dadada;
}