* {
    margin: 0; 
}
#header{
    width:241px;
     height: 240px;
    background-color: #f1f1f1;
}
#header .middle{
    font-size: 12px;
    color: #4f4f4f;
    margin-left: 18px;
    padding: 6px 0;
}
#header .footer{
    font-size: 10px;
    color: #9f9f9f;
    margin-left: 18px;
    padding: 7px 0;
}
h2{
    margin-left: 18px;
    line-height: 80px;
}
#head{
    width: 259px;
    height:290px;
    text-align: center;
    background-color: #f5f5f5;
}
#head img{
    padding: 23px 0 16px 0;
}
h3{
    padding-bottom: 6px;
}
#head .bod1{
    color: #546c78;
    font-size: 12px;
    padding: 13px 0;
}
#head .bod2{
    color: #b0c0d9;
    font-size: 12px;
    padding: 3px 0;
}
#box1{
    list-style-image: url(../练习/2.png)
}
#box2{
    height: 22px;
}
#box2 li{
    font-size: 22px;
    color: #676769;
    line-height: 22px;