*{
    margin: 0;padding: 0;
}
#header{
    width:1000px ;
    height:62px ;
    background: #232323;
    margin: auto;
}
#header p{
    width: 207px;
    height: 62px;
    background-image: url(../image/logo.jpg);
    float: left;
}
#header ul{
    float: right;
    list-style: none;
}
#header a{
    text-decoration: none;
    color: white;
    padding: 0 15px;
    display: block;
    height: 62px;
}
#header ul li{
    float: left;
    line-height: 62px;
}
#header ul li:hover{
    background: orange;
}
#header ul a:hover{
    color: red;
}