*{
    margin: 0;padding: 0;
}
#wolong{
    width: 999px;
    height: 1500px;
    margin: auto;
}
.header{
    width: 999px;
    height: 100px;
    background: white;
    background-image: url(../image/header.png);
    background-repeat: no-repeat;
    background-position: 20px 40px;
}
.h1{
    width: 230px;
    height: 26px;
    border: solid 1px #e6e6e6;
    float: right;
    margin: 39px 19px 0 0;
    background: #f1f1f1;
}
.text{
    width: 186px;
    height: 26px;
    border-style: none;
    background-color: #f1f1f1;
    color: #848484;
    vertical-align: middle;
    padding-left: 14px;
}
.button{
    width: 30px;
    height: 26px;
    border-style:none;
    background-image: url(../image/卧龙/button.png);
    vertical-align: middle;
}
.nav ul{
    list-style: none;
    float: right;
}
.nav ul li{
    width: 124px;
    float: left;
    text-align: center;
    line-height: 58px;
    background: #2c2c2c;
    border-right: solid 1px #484848;
}
.nav a{
    font-size: 12px;
    color: white;
    display: block;
    text-decoration: none;
}
.nav a:hover{
    background: orange;
    text-decoration: underline;
}
.box1{
    width: 999px;
    height: 464px;
    background-image: url(../image/卧龙/box1.png);
}
.box2{
    width: 999px;
    height: 242px;
}
.b2-lfet1{
    width: 470px;
    height: 242px;
    padding: 0 15px;
}
.b2-lfet2{
    width: 240px;
    height: 242px;
    background: #f1f1f1;
}
.b2-lfet3{
    width: 259px;
    height: 242px;
}
.b2-lfet1,.b2-lfet2,.b2-lfet3{
    float: left;
}
.h2{
    font-size: 18px;
    color: #202020;
    margin: 33px 0 24px;
}
.b2-lfet1 ul li{
    list-style-position: inside;
    line-height: 22px;
    color: #555555;
}
.b2-lfet1 span{
    float: right;
    font-size: 10px;
    color: #aaaaaa;
    margin-right: 13px;
}
.b2-lfet1 a{
    font-size: 12px;
    text-decoration: none;
    color: #555555;
}
.h3{
    font-size: 18px;
    color: #202020;
    margin: 36px 0 33px 24px;
}
.centent1{
    width: 135px;
    font-size: 14px;
    color: #545454;
    line-height: 26px;
    margin: 0 0 14px 24px;
}
.centent2{
    font-size: 12px;
    color: #979797;
    line-height: 24px;
    margin: 0 24px;
}
.centent3{
    font-size: 12px;
    color: #5e5e5e;
    line-height: 26px;
    margin: 0 53px 14px 24px;
}
.box3{
    width: 999px;
    height: 305px;
}
.h4{
    font-size: 18px;
    color: #202020;
    margin: 30px 0 17px 20px;
}
.body2{
    width: 999px;
    height: 240px;
}
.b2-left1,.b2-left2,.b2-left3,.b2-left4{
    width: 210px;
    height: 240px;
    margin-right: 40px;
    float: left;
}
.image1,.image2,.image3,.image4{
    width: 210px;
    height: 136px;
}
.image1{
    background-image: url(../image/卧龙/b2.png);
}
.image2{
    background-image: url(../image/卧龙/b3.png);
}
.image3{
    background-image: url(../image/卧龙/b4.png);
}
.image4{
    background-image: url(../image/卧龙/b5.png);
}
.centent4{
    font-size: 12px;
    color: #606060;
    line-height: 24px;
    margin-top: 12px;
}
.box4{
    width: 999px;
    height: 250px;
    background: #e5e5e5;
}
.left1{
    width: 452px;
    height: 250px;
    overflow: hidden;
    margin-left: 20px;
}

.h5{
    line-height: 18px;
    font-size: 18px;
    color: #202020;
    margin: 30px 0 10px 10px;
}
.top1{
    width: 453px;
    height: 172px;
    border-top: solid 2px #c2c2c2; 
    padding-top: 20px;
}
.box4 li{
    list-style-image: url(../image/卧龙/list-1.png);
    list-style-position: inside;
    line-height: 24px;
}
.box4 a{
    font-size: 12px;
    color: #636363;
    text-decoration: none;
}
.list1,.list2,.list3,.list4{
    float: left;
    margin-right: 50px;
}
.left2{
    width: 150px;
    height: 250px;
    overflow: hidden;
    margin-left: 50px;
}
.left1,.left2,.left3{
    float: left;
}
.top2{
    width: 142px;
    height: 172px;
    border-top: solid 2px #c2c2c2; 
    padding-top: 20px;
    padding-left: 8px;
}
.left3{
    width: 255px;
    height: 250px;
    overflow: hidden;
    margin-left: 50px;
}
.top3{
    width: 255px;
    height: 192px;
    border-top: solid 2px #c2c2c2; 
    padding-top: 20px;
    background-image: url(../image/卧龙/list-2.png);
}
.box5{
    width: 999px;
    height: 81px;
}
.list5 li{
    float: left;
    list-style: none;
    border-right: solid 1px #878787;
    line-height: 12px;
    padding: 0 8px;
    margin-top: 24px;
}
.list5 a{
    font-size: 12px;
    color: #878787;
    text-decoration: none;
}
.box5 p{
    font-size: 10px;
    color: #878787;
    float: right;
    margin-top: 19px;
}
.box5 span{
    margin-left: 15px;
}