*{
    margin: 0;padding: 0;
}
#shiyu{
    width: 1326px;
    height: 5258px;
    margin: auto;
}
.header{
    width: 1326px;
    height: 82px;
    background-image: url(../image/石宇/logo.png);
    background-repeat: no-repeat;
    background-position: 72px center;
}
.header ul{
    float: right;
    margin-right: 72px;
}
.header li{
    list-style: none;
    padding: 0 20px;
    float: left;
}
.header a{
    line-height: 60px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    padding-bottom: 10px;
    font-weight: bold;
}
.header a:hover{
    color: #f13a3a;
    border-bottom: solid 2px #f13a3a;
}
.box1{
    width: 1326px;
    height: 700px;
    background-image: url(../image/石宇/box1.png);
}
.box2{
    width: 1326px;
    height: 157px;
    background-color: #1b252e;
    padding-top: 55px;
}
.h1{
    font-size: 24px;
    color: #fcfcfc;
    margin: 0 0 26px 75px;
    line-height: 24px;
}
.content1{
    width: 772px;;
    font-size: 16px;
    color: #fcfcfc;
    margin-left: 75px;
    line-height: 32px;
}
.button{
    width: 165px;
    height: 55px;
    border: none;
    background-color: #fefefe;
    float: right;
    margin-top: 23px;
    margin-right: 177px;
}
.button:hover{
    width: 170px;
    height: 60px;
}
.box3{
    height: 1326px;
    height: 595px;
}
.h2{
    font-size: 40px;
    color: #212121;
    text-align: center;
    line-height: 185px;
    font-weight: bold;
}
.body1{
    width: 1180px;
    height: 410px;
    border-top: solid 1px #dedede;
    margin: auto;
}
.b1-left1,.b1-left2,.b1-left3,.b1-left4{
    width: 295px;
    height: 410px;
    background-repeat: no-repeat;
    overflow: hidden;
    float: left;
    background-position: center 44px;
}
.b1-left1{
    background-image: url(../image/石宇/s1.jpg);
}
.b1-left2{
    background-image: url(../image/石宇/s2.jpg);
}
.b1-left3{
    background-image: url(../image/石宇/s3.jpg);
}
.b1-left4{
    background-image: url(../image/石宇/s4.jpg);
}
.h3 {
    font-size: 24px;
    color: #333333;
    text-align: center;
    line-height: 24px;
    margin-top: 214px;
}
.h4 {
    font-size: 12px;
    color: #999999;
    text-align: center;
    margin-top: 15px;
    line-height: 12px;
}
.box4{
    width: 1326px;
    height: 716px;
    background: #ebebeb;
    overflow: hidden;
}
.h5{
    font-size: 34px;
    color: #333333;
    text-align: center;
    margin-top: 70px;
    line-height: 24px;
    font-weight: bold;
}
.h6{
    font-size: 16px;
    color: #999999;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 45px;
    line-height: 16px;
}
.body2,.body3{
    width: 1212px;
    height: 535px;
    margin: auto;
}
.img{
    width: 257px;
    height: 196px;
    margin: 10px 15px;
    float: left;
    padding: 8px;
    background: #fefefe;
}
.h7{
    font-size: 14px;
    color: #444444;
    text-align: center;
    margin-top: 7px;
    line-height: 14px;
}
.box5{
    width: 1326px;
    height: 429px;
    background-image: url(../image/石宇/brand_02.png);
}
.box6{
    width: 1326px;
    height: 527px;
}

.b6-left1,.b6-left2,.b6-left3,.b6-left4{
    width: 295px;
    height: 410px;
    background-repeat: no-repeat;
    overflow: hidden;
    float: left;
    background-position: center 44px;
}
.b6-left1{
    background-image: url(../image/石宇/i1.png);
}
.b6-left2{
    background-image: url(../image/石宇/i2.png);
}
.b6-left3{
    background-image: url(../image/石宇/i3.png);
}
.b6-left4{
    background-image: url(../image/石宇/i4.png);
}
.h8 {
    font-size: 38px;
    color: #f13a3a;
    text-align: center;
    line-height: 38px;
    margin-top: 175px;
    font-weight: bold;
}
.h9 {
    font-size: 16px;
    color: #999999;
    text-align: center;
    margin-top: 25px;
    line-height: 16px;
}
.box7{
    width: 1326px;
    height: 537px;
}
.box7-1{
    width: 665px;
    height: 537px;
    float: left;
    background-image: url(../image/石宇/box7-1.png);
}
.box7-2{
    width: 661px;
    height: 537px;
    background-image: url(../image/石宇/box7-2.png);
    float: left;
}
.h10{
    font-size: 40px;
    color: #444444;
    margin: 150px 0 40px 95px;
    line-height: 40px;
}
.h11{
    width: 310px;
    font-size: 16px;
    color: #999a9a;
    margin-bottom: 20px;
    margin-left: 95px;
    line-height: 16px;
}
.h12{
    font-size: 16px;
    color: #999a9a;
    line-height: 16px;
    margin-left: 95px;
}
.box{
    width: 1326px;
    height: 707px;
}
.h13{
    font-size: 16px;
    text-align: center;
    color: #999a9a;
    margin-top: 45px;
    line-height: 16px;
}
.h14{
    font-size: 22px;
    text-align: center;
    color: #333333;
    margin-top: 22px;
    line-height: 22px;
}
.body4{
    width: 1209px;
    height: 90px;
    margin: auto;
    margin-top: 79px;
}
.b4-left1,.b4-left2,.b4-left3{
    width: 348px;
    height: 88px;
    border: solid 1px #cacaca;
    float: left;
    margin: 0 26.5px;
    background-repeat: no-repeat;
    background-position: 50px center;
}
.b4-left1{
    background-image: url(../image/石宇/foot_qq.png);
}
.b4-left2{
    background-image: url(../image/石宇/foot_wb.png);
}
.b4-left3{
    background-image: url(../image/石宇/foot_wx.png);
}
.h15{
    font-size: 16px;
    color: #666666;
    line-height: 16px;
    margin: 30px 0 0 120px;
}
.h16{
    font-size: 10px;
    color: #737373;
    line-height: 10px;
    margin: 10px 0 0 120px;
}
.b4-bottom{
    width: 344px;
    height: 84px;
    border: solid 3px #000000;
    margin: auto;
    margin-top: 140px;
    text-align: center;
}
.wx{
    width: 150px;
    height: 180px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    color: #666666;
    margin: auto;
    margin-top: -165px;
    background: white;
}
.box9{
    width: 1326px;
    height: 414px;
    background: #ebebeb;
    border-bottom: solid 2px #f13a3a;
    padding-top: 100px;
}
.body5{
    width: 1212px;
    height: 285px;
    margin: auto;
}
.b9-left1,.b9-left2,.b9-left3{
    width: 273px;
    height: 285px;
    margin: 0 15px;
    background: #fefefe;
    float: left;
}
.h17{
    font-size: 16px;
    color: #404040;
    line-height: 16px;
    text-align: center;
    margin: 28px 0 20px;
}
.h18{
    font-size: 12px;
    color: #777777;
    line-height: 12px;
    text-align: center;
}
.box10{
    width: 1326px;
    height: 261px;
    background: #1b252e;
}
.b10-top1{
    width: 1180px;
    height: 140px;
    border-bottom: solid 1px #313a43;
    margin: auto;
}
.h19{
    font-size: 14px;
    color: #8a929c;
    line-height: 140px;
    float: left;
    vertical-align: middle;
    margin: 0 46px;
}
.h19 img{
    vertical-align: middle;
    margin-right: 10px;
}
.b10-top2{
    width: 1180px;
    height: 120px;
    margin: auto;
}
.foot1 li{
    list-style: none;
    float: left;
    font-size: 14px;
    color: #8a929c;
    margin: 30px 12px 7px 12px;
}
.foot2{
    clear: both;
    list-style: none;
    font-size: 14px;
    color: #8a929c;
    text-align: center;
    margin-top: 7px;
}