* {
    margin: 0; padding: 0;
}

.box {
    width: 900px;
    height: 200px;
    margin: 20px auto;
    border: solid 2px darkgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

li {
    width: 99px;
    height: 99px;
    list-style: none;
    background: #e7e7e7;
    border-radius: 5%;
    box-shadow: 0px -5px 0px 0px #bbbbbb inset,5px 0px 0px 0px #dddddd inset
    ,-5px 0px 0px 0px #ddd inset;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
}

span {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: black;
    border-radius: 50%;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box li:nth-child(1) {
    justify-content: center;
    align-items: center;
}

.box li:nth-child(2) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box li:nth-child(3),
.box li:nth-child(4),
.box li:nth-child(5),
.box li:nth-child(6){
    justify-content: space-between;
}

.box li:nth-child(3) span:nth-child(2) {
    align-self: center;
}

.box li:nth-child(3) span:nth-child(3) {
    align-self: flex-end;
}

.box li:nth-child(5) div:nth-child(2) {
    align-self: center;
}
