* {
  margin: 0;
  padding: 0;
}

.box {
  width: 640px;
  height: 320px;
  font-size: 0;
  margin: 50px auto;
  display: flex;
  overflow: hidden;
  border-radius: 0 0 320px 320px/0 0 50px 50px;
}

.box img {
  animation: mystyle ease-in-out 8s infinite 0s alternate;
}

@keyframes mystyle {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-640px, 0px);
  }
  50% {
    transform: translate(-1280px, 0px);
  }
  75% {
    transform: translate(-1920px, 0px);
  }
  100% {
    transform: translate(-2560px, 0px);
  }
}
