* {
    margin: 0; padding: 0;
}

#nav {
    width: 500px;
    height: 100px;
    margin: auto;
}

#nav ul {
    list-style: none;
    border-bottom: solid 1px #acacac;
    height: 40px;
    padding: 0 40px;
}

#nav ul li {
    float: left;
    list-style: none;
    border: solid 1px #d6d6d6;
    border-bottom: none;
    width: 80px;
    margin-right: 10px;
    text-align: center;
    line-height: 35px;
    margin-top: 4px;
}

#nav ul a {
    font-size: 12px;
    text-decoration: none;
    display: block;
    color: #bbbbbb;
}

#nav  li:hover {
    margin-top: 0px;
    height: 39px;
    border: solid 1px #acacac;
    border-bottom: solid 1px #ffffff;
}

#nav ul a:hover {
    color: #6e6868;
}

#box {
    width: 500px;
    height: 100px;
    margin: auto;
}

#box ul {
    height: 20px;
    list-style: none;
    border-bottom: solid 8px #db4e18;
    padding: 0 10px;
}

#box ul li {
    float: left;
    list-style: none;
    background: #dfdfdf;
    width: 80px;
    margin-right: 1px;
    text-align: center;
    line-height: 20px;
}

#box ul .chinese {
    font-size: 12px;
    text-decoration: none;
    color: #f4ffff;
    display: block;
    font-weight: bold;
    display: none;
}

#box ul .english {
    font-size: 12px;
    text-decoration: none;
    color: #676767;
    display: block;
    font-weight: bold;
}

#box  li:hover {
    background: #db4e18;
}

#box li:hover .english {
    display: none;
}

#box li:hover .chinese {
    display: block;
}

