* {
    margin: 0; padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.box {
    max-width: 900px;
    height: 542px;
    border: solid 5px #ffffff;
    background: #888;
    margin: auto;
}

header {
    width: 100%;
    height: 80px;
    background: #F47D31;
}

h1 {
    font-size: 72px;
    color: #ffffff;
    line-height: 80px;
    text-align: center;
}

main {
    width: 100%;
}

main nav {
    width: 25%;
    padding: 0px 15px 10px 5px;
    float: left;
}

main nav li {
    list-style: none;
    width: 215px;
    height: 43px;
    font-size: 14px;
    line-height: 43px;
    color: #F47D31;
    border-bottom: solid 3px #ffffff;
}

main section {
    width: 50%;
    float: left;
    padding: 10px 0;
}

.a1 {
    height: 217px;
    background: #ffffff;
    margin-bottom: 10px;
}

.a2 {
    height: 163px;
    background: #ffffff;
}

main aside {
    padding: 0 25px;
    font-size: 14px;
    font-style: italic; 
    color: #ffffff;
    border: solid 1px seagreen;
}

main aside p {
    padding: 0 25px;
}

footer {
    height: 50px;
    background: #F47D31;
}