* {
    margin: 0; padding: 0;
}

#freebuf {
    width: 100%;
}

.centent {
    width: 1200px;
    height: 100%;
    margin: auto;
}

.clearfix::after {
    content: "";
    height: 0;
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
}

.header {
    width: 100%;
    height: 65px;
    background: #242321 url(../作业/freebuf/asset\ 126.png) no-repeat 33px center;;
}

.header ul {
    margin-left: 200px;
}

.header li {
    list-style: none;
    float: left;
    padding: 0 9px;
    line-height: 65px;
    font-size: 14px;
    color: #98a0a0;
}

.header dl {
    float: right;
    padding-right: 25px;
}

.hnav1 dt {
    width: 17px;
    height: 16px;
    background: url(../作业/freebuf/asset\ 129.png) no-repeat;
}

.hnav2 dt {
    width: 18px;
    height: 17px;
    background: url(../作业/freebuf/asset\ 130.png) no-repeat;
}

.hnav3 dt {
    width: 16px;
    height: 19px;
    background: url(../作业/freebuf/asset\ 131.png) no-repeat;
}

.hnav4 dt {
    width: 17px;
    height: 19px;
    background: url(../作业/freebuf/asset\ 132.png) no-repeat;
}