* {
    margin: 0; padding: 0;
}

.box {
    width: 500px;
    height: 500px;
    background: #cccccc;
    margin: auto;
    position: relative;
}

.b1 {
    width: 200px;
    height: 100px;
    border-radius: 100px 100px 0px 0px;
    background: #58bc58;
    position: absolute;
    left: 150px;
    top: 50px;
}

.b2-1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    left: 210px;
    top: 100px;
}

.b2-2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    left: 265px;
    top: 100px;
}

.b3 {
    width: 200px;
    height: 230px;
    border-radius: 0px 0px 20px 20px;
    background: #58bc58;
    position: absolute;
    left: 150px;
    top: 160px;
}

.b4-1 {
    width: 30px;
    height: 180px;
    border-radius: 10px 10px 10px 10px;
    background: #58bc58;
    position: absolute;
    left: 110px;
    top: 165px;
}

.b4-2 {
    width: 30px;
    height: 180px;
    border-radius: 10px 10px 10px 10px;
    background: #58bc58;
    position: absolute;
    right: 110px;
    top: 165px;
}

.b5-1 {
    width: 30px;
    height: 80px;
    border-radius: 0px 0px 10px 10px;
    background: #58bc58;
    position: absolute;
    left: 190px;
    bottom: 30px;
}

.b5-2 {
    width: 30px;
    height: 80px;
    border-radius: 0px 0px 10px 10px;
    background: #58bc58;
    position: absolute;
    right: 190px;
    bottom: 30px;
}